---
import { Picture } from "astro:assets";
import myImage from "../assets/homepage_hero_bg.jpg";
---

<div>
  <Picture
    src={myImage}
    widths={[240, 540, 720, myImage.width]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${myImage.width}px`}
    alt="dining room with table and chairs"
  />
</div>
